In [1]:
# 导入所需要的包
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# 读取数据
train = pd.read_excel('./data/data.xlsx')
test = pd.read_excel('./data/test.xlsx')
data_数据说明 = pd.read_excel('./data/字段说明.xlsx')

In [3]:
train.head()

,target,userId,sellerId,timestamp,comment
0,1,127,1708,2019-10-01 00:57:45.000003,text：订餐1个半小时不见餐，催了还挂电话！☆ ☆ ☆
1,1,1661,886,2019-10-01 00:42:07.000001,text：太不靠谱！× × 不是漏发订单就是菜送错了，要不就早送一小时！！！× ×
2,0,92758,10612,2019-10-01 00:51:18.000000,text：超级超级喜欢吃，每次去都好开心，口味很好，建议手套多戴几双，吃完之后的形象是不太好...
3,0,1639,1699,2019-10-03 00:01:56.000001,text：谢谢快递哥哥，非常准时，辛苦啦
4,1,241839,36556,2019-10-01 00:07:56.000004,非常差得餐厅，上菜非常慢，且贵！属于可以在餐厅饿死的那种\n，面条没有味道，一碗28，坑死爹...

In [4]:
test.head()

,target,userId,sellerId,timestamp,comment
0,NaN,72916,11976,2020-10-01 12:38:17,text：买的人很多，味道好，是十年以上的老店了~~~~\n
1,NaN,39091,34918,2020-10-01 17:35:04,原来是辣的流泪，所以叫伤心凉粉。厉害，味道不错，不过吃完还想吃。\n
2,NaN,289933,59229,2020-10-01 21:00:17,text：外卖好快的，适合中午点
3,NaN,77764,27100,2020-10-02 06:40:07,text：整体感觉就是一般，味道也一般，可能是个人因素哈．\n
4,NaN,24687,30939,2020-10-02 07:28:33,text：我不喜欢

In [5]:
data_数据说明

          字段                  说明
0     target  评价标签，0为积极情绪，1为消极情绪
1     userId         用户id，对应每个用户
2   sellerId         商家id，对应每个商家
3  timestamp               评价的时间
4    comment               评价的内容

### 查看数据的形状

In [6]:
train.shape

(17953, 5)

In [7]:
test.shape

(1500, 5)

In [12]:
# 查看数据是否有缺失值
train.isnull().sum(),test.isnull().sum()

(target       0
 userId       0
 sellerId     0
 timestamp    0
 comment      0
 dtype: int64,
 target       1500
 userId          0
 sellerId        0
 timestamp       0
 comment         0
 dtype: int64)

In [10]:
print("train.shape,test.shape",train.shape,test.shape)

train.shape,test.shape (17953, 5) (1500, 5)

In [11]:
train

,target,userId,sellerId,timestamp,comment
0,1,127,1708,2019-10-01 00:57:45.000003,text：订餐1个半小时不见餐，催了还挂电话！☆ ☆ ☆
1,1,1661,886,2019-10-01 00:42:07.000001,text：太不靠谱！× × 不是漏发订单就是菜送错了，要不就早送一小时！！！× ×
2,0,92758,10612,2019-10-01 00:51:18.000000,text：超级超级喜欢吃，每次去都好开心，口味很好，建议手套多戴几双，吃完之后的形象是不太好...
3,0,1639,1699,2019-10-03 00:01:56.000001,text：谢谢快递哥哥，非常准时，辛苦啦
4,1,241839,36556,2019-10-01 00:07:56.000004,非常差得餐厅，上菜非常慢，且贵！属于可以在餐厅饿死的那种\n，面条没有味道，一碗28，坑死爹...
...,...,...,...,...,...
17948,0,34025,24833,2020-09-25 23:15:36.000003,"text：感觉这里好像发挥不是很稳定,来了几此,有好有坏.吃日料主要就关注三文鱼,这里的属于..."
17949,1,656,901,2020-09-25 23:17:48.999999,text：订的九点送到，十二点才到，呵呵× × × × × × × ×
17950,1,612,743,2020-09-27 23:36:59.000000,text：差评！辣白菜五花肉石锅拌饭超级难吃！五花肉又硬又难吃，感觉不新鲜。以后再也不会吃这家店了
17951,1,146739,15687,2020-09-27 23:53:15.000000,又贵又不好吃，老婆几次非要来看看，这次一吃真难吃。\n蒸没错，但比炒菜更油腻，没啥菜好吃，以...
17952,1,444,1143,2020-09-27 23:59:19.999997,text：小炒肉太辣，辣椒放太多，凉粉更辣！还有就是连筷子都不给难道要用手抓着吃吗？× × ×